<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloggingApp</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootswatch/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloggingApp.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        @* @Html.Partial("_Navbar.cshtml") *@
        <partial name="_Navbar" model="null" />
    </header>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index:9999">
        <partial name="_ToastNotifications" />
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - BloggingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const toastElements = document.querySelectorAll('.toast-auto-show');

            toastElements.forEach(toastElement => {

                const delay = parseInt(toastElement.dataset.delay || 4000);

                const toast = new bootstrap.Toast( toastElement,
                {
                    autohide: true,
                    delay: delay
                });

                toast.show();

                toastElement.addEventListener('hidden.bs.toast', () => 
                    {
                        toastElement.remove();
                    }
                );
            });
        });
    </script>
</body>
</html>
