
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Post" asp-action="Index">BloggingApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Post" asp-action="Index">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                @if(User.Identity.IsAuthenticated)
                {
                    @if(User.IsInRole("PostOwner"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Post"  asp-action="MyBlogs" >My Blogs</a>
                        </li>
                    }
                    else if(User.IsInRole("Admin"))
                    {
                        <liv class="nav-item">
                            <a asp-controller="Auth" asp-action="GetUsers">Manage Users</a>
                        </liv>
                        <li class="nav-item">
                            <a asp-controller="Post" asp-action="Index">Manage Blogs</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth"  asp-action="Profile" >Profile</a>
                    </li>

                    <li class="nav-item">
                    <a asp-action="ChangePassword" asp-controller="Auth"
                       class="nav-link">
                        Change Password
                    </a>
                    </li>
                }

            </ul> 

            @await Component.InvokeAsync("NavbarUser")
           
        </div>
    </div>
</nav>